<section class="login-background">
    <style>
      .login-background{
        background-color: #2B2B2B;
        background: url(https://images.pexels.com/photos/1103970/pexels-photo-1103970.jpeg);
      
      }
  
      .login-form {
        background-color:hsla(43, 19%, 85%,0.8);
        backdrop-filter: saturate(200%) blur(25px);
        
      }
    </style>
  
    <div class="container  py-5 px-md-5 text-center text-lg-start my-2">
      <div class="row gx-lg-5 align-items-center mb-5">
        <div class="col-lg-6 ">
          <h1
            class="my-2 display-4 fw-bold "
            style="color:#E1DDD3"
          >
            We Are Me Social <br />
            <h4 style="color:#585145d8">The best solution for your business</h4>
          </h1>
         <p>Demo login:<br>
          email:demo@gmail.com <br>
          password:87654321
         </p>
        </div>
  
        <div class="col-lg-6 mb-5 mb-lg-0 position-relative">
          <div class="login-form">
            <div class="card-body px-4 py-5 px-md-5">
              <form #loginForm="ngForm" (ngSubmit)="login()">
                <h2 class="fw-bold mb-2 text-uppercase text-center">Login</h2>
                <div class="row">
                  <div class="mb-4">
                    <div class="form-outline"></div>
                  </div>
                </div>
  

               
                
                <!-- Email  -->
                <div class="form-outline mb-4">
                  <input
                  type="email"
                  name="email"
                  class="form-control"
                  id="floatingInput"
                  placeholder="name@example.com"
                  [(ngModel)]="user.email"
                  required
                  minlength="8"
                  #email="ngModel"
                  />
                  <small
                    class="text-danger"
                    *ngIf="email.invalid && (email.touched || email.dirty)"
                    >Wrong email format</small
                  ><br />
                  <label class="form-label" for="form3Example3"
                    >Email address</label
                  >
                </div>
  
                <!-- Password input -->
                <div class="form-outline mb-4">
                    
                  
                  <input 
                    type="password"
                    id="form3Example4"
                    class="form-control"
                    placeholder="Password"
                    name="password"
                    ngModel
                    required
                    minlength="5"
                    #password="ngModel"
                    [(ngModel)]="user.password"
                    
                
                  />
                  
                  <small
                    class="text-danger"
                    *ngIf="
                      password.invalid && (password.touched || password.dirty)
                    "
                    >Password length should be at least 8 characters</small
                  ><br />
                  <label class="form-label" for="form3Example4">Password</label>
                </div>
  
                <!-- Login  button -->
                <div class="col-md-12 text-center">
                  <button
                    type="submit"
                    class="btn btn-dark mb-4"
                    [disabled]="loginForm.invalid"
                  >
                    Login
                  </button>
                </div>
            </form>
              
            <div class="mb-5 text-center">
                <a routerLink="/register" >New User? Register Now</a>
            </div>
        
                <!-- Register buttons -->
                <div class="text-center">
                  <p>or continue with </p>
                  <button class="btn btn-outline-dark w-60 mt-6" (click)="loginWithGoogle()"><i class="fa-brands fa-google">
                </i> Login with Google</button>
  
             
  
                 
                </div>
             
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  